body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.todo-app {
    text-align: center;
    width: 1080px;
    margin: 0 auto;
}
.todo-title {
    text-align: center;
}
.todo-item-input {
    display: flex;
    justify-content: space-between;
}
.todo-container {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 2px;
}
.todo-container .todo-container-list {
    display: flex;
    padding: 10px;
}
.todo-item-operate .anticon {
    margin-left: 10px;
}
.todo-filter {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
}